body {
    background: #8E2DE2;
    background: -webkit-linear-gradient(to bottom, #4A00E0, #8E2DE2);
    background: linear-gradient(to bottom, #4A00E0, #8E2DE2);
    background-size: cover;
    height: 100vh;
}

.header-like {
    text-align: center;
    color: bisque;
}

.header-name {
    text-align: center;
    color: bisque;
    margin-top: 30px;
}

.header-name2 {
    text-align: center;
    color: bisque;
}

.btn {
    margin: 0 auto;
    display: block;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    color: bisque;
    border: 3px dotted bisque;
    ;
    background-color: #8E2DE2;
}

.btn:hover {
    color: bisque;
    transition: .5s;
    background-color: #4A00E0;
    border: 3px dotted #8E2DE2;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.header-fetching {
    text-align: center;
    color: bisque;
    margin-top: 35px;
}

.suggestions {
    text-align: center;
    color: bisque;
}

.search-form {
    display: flex;
    justify-content: center;
    padding: 15px;
}

.search-input {
    padding: 5px;
}

/* Card */
.card-container {
    overflow: hidden; 
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 5px;
    max-height: 750px;
    width: 50%;;
    background-color: lightgray;
    padding-bottom: 5px;
    height:auto;
    margin: auto;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.brand-name {
    text-align: center;
    color: #000;
}

.brand-image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px 5px 0 0;
}

.product-name {
    text-align: center;
    color: #000;
}

.category {
    text-align: center;
    color: #000;
}

.description {
text-align: center;
color: #000;
}
